.cart-page {
  padding: 50px 20px;
  background-color: #fcfcfc;
  display: flex;
  gap: 20px;
}

.cart-title {
  font-size: 28px;
  font-weight: 400;
}

.header-cart-container {
  width: 100%;
  min-height: 60px;
  background-color: #fff;
  border-bottom: solid 1px #0000001f;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-cart-container p {
  font-size: 18px;
}

.cart-container {
  background-color: #fff;
  padding: 20px;
  width: 75%;
  border: 1px solid #1A729A25;
  border-radius: 5px;
}

.cart-items {
  margin-top: 20px;
}

.cart-item-info {
  width: 85%;
}

.cart-item-info div{
  display: flex;
}

.cart-item-description {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 20px;
}

.cart-item-description-container {
  display: flex;
  flex-direction: column;
}

.cart-item-description-container h3 {
  font-size: 23px;
  font-weight: 600;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0px;
  padding-bottom: 20px;
  border-bottom: 1px solid #00000010;
  min-height: 250px;
}

.cart-item-img {
  max-width: 150px;
}

.cart-item-total {
  /* background-color: red; */
  width: 15%;
  max-width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quantity-container {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
}

.quantity-selector {
  display: flex;
  align-items: center;
  gap: 15px;
  border: 1px solid #1a719a48;
  border-radius: 15px;
}

.quantity-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border: none;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s, border-color 0.3s;
}

.quantity-btn:hover {
  background-color: #f5f5f5;
  border-color: #ccc;
}

/* .delete-icon {
  border: 1px solid #FDCECE;
  background-color: #FFF0F0;
} */

.delete-icon img {
  width: 16px;
  height: 16px;
}

.quantity-value {
  font-size: 16px;
  font-weight: bold;
}

.remove-link {
  background: none;
  border: none;
  border-left: 1px solid #00000067;
  padding-left: 15px;
  color: #be0e0e;
  font-size: 14px;
  cursor: pointer;
  text-decoration: none;
  margin-left: 10px;
  transition: color 0.3s;
  font-weight: 500;
}

.remove-link:hover {
  color: #9b0202;
}

.cart-summary {
  background-color: #fff;
  border: 1px solid #1A729A25;
  border-radius: 5px;
  width: 25%;
  padding: 15px;
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.cart-summary div {
  width: 100%;
}

.cart-summary-subtotal {
  font-size: 18px;
  font-weight: 500;
}

.checkout-btn {
  width: 80%;
  border-radius: 25px;
  padding: 7px;
  border: none;
  background-color: #1A729A;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
}

.checkout-btn:hover {
  border: 1px solid #1a719a2f;
  background-color: #fff;
  color: #1A729A;
}

.payment-options-options {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.payment-options-options h3 {
  font-weight: 500;
  font-size: 22px;
}