.modal {
    position: fixed; /* Fija el modal en la pantalla */
    width: 400px; /* Ancho del modal */
    min-height: 150px; /* Altura mínima */
    max-height: 90vh; /* Altura máxima */
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.842) 0%, rgba(255,255,255,1) 98%);
    backdrop-filter: blur(10px);
    top: -100%; /* Comienza fuera de la vista */
    right: 0; /* Alineación a la derecha */
    z-index: -1; /* Para que esté detrás de otros elementos */
    border-left: #00000063 1px solid; /* Borde izquierdo */
    border-bottom: #00000063 1px solid; /* Borde inferior */
    box-shadow: #00000007 10px 15px 15px; /* Sombra */
    border-bottom-left-radius: 15px; /* Esquinas redondeadas */
    transition: top 0.3s ease-in-out, opacity 0.3s ease-in-out; /* Animación de deslizamiento y opacidad */
    opacity: 0; /* Comienza invisible */
    padding: 15px;
}

.modal.show {
    z-index: 999; /* Se asegura de que el modal esté delante */
    top: 90px; /* Desliza el modal hacia abajo para mostrarlo */
    opacity: 1; /* Asegura que sea visible */
    pointer-events: auto; /* Permite interacciones */
}

.modal.close-animation {
    top: -100%; /* Desliza hacia arriba al cerrar */
    opacity: 0; /* Hacer invisible */
}

.modal__content {
    position: relative; /* Para posicionar elementos internos */
    margin-top: 20px; /* Espaciado superior */
    display: flex; /* Flexbox para alinear elementos */
    flex-direction: column; /* Coloca los elementos en columna */
    align-items: center; /* Centra horizontalmente */
}

.cart__header {
    display: flex; /* Flexbox para alinear el encabezado */
    justify-content: space-between; /* Espacio entre elementos */
    width: 100%; /* Ancho completo */
    padding: 5px 10px; /* Espaciado interno */
    border-bottom: 1px solid #ccc; /* Línea divisoria */
}

.cart__articles {
    font-weight: 500;
}

.cart__clear {
    width: 31px;
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    border-radius: 25px;
    padding: 3px;
    transition: background-color, transform 0.4s;
}

.cart__clear:hover {
    background-color: #ffefee;
    transform: scale(1.2);
}

.cart__list-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart__list {
    list-style: none; /* Sin viñetas */
    margin: 0; /* Sin margen */
    max-height: 350px; /* Altura máxima para desplazamiento */
    overflow-y: auto; /* Habilita el desplazamiento vertical */
    width: 90%;
    border-bottom: 1px solid #ccc;
    scrollbar-width: thin; /* Barra delgada en Firefox */
    scrollbar-color: #888 transparent; /* Color para Firefox */
}

/* Estilos de scroll personalizados para navegadores basados en WebKit */
.cart__list::-webkit-scrollbar {
    width: 8px; /* Ancho de la barra */
}

.cart__list::-webkit-scrollbar-thumb {
    background-color: #888; /* Color de la barra */
    border-radius: 10px; /* Bordes redondeados */
    border: 2px solid transparent; /* Espacio alrededor para que se vea más delgado */
}

.cart__list::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Color al pasar el mouse */
}

.cart__list::-webkit-scrollbar-track {
    background: transparent; /* Fondo del track transparente */
}

.cart__list::-webkit-scrollbar-button {
    display: none; /* Ocultar flechas de incremento/decremento */
}


.cart__item {
    display: flex; /* Flexbox para los elementos del carrito */
    align-items: center; /* Alinea verticalmente */
    margin: 20px 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    border-radius: 5px;
}

.cart__image {
    width: 70px; /* Ancho de la imagen */
    margin-right: 15px;
}

.cart__name {
    font-weight: 600;
}

.cart__details {
    text-align: left; /* Alineación a la izquierda del texto */
    flex-grow: 1; /* Permite que ocupe el espacio restante */
}

.cart-price {
    margin-bottom: 10px;
    font-weight: 400; /* Negrita */
    font-size: 17px;
}

.cart__quantity {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100px;
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 2px 5px;
    gap: 5px; /* Espaciado entre elementos */
}

.cart__input-quantity {
    width: 40px; 
    font-size: 16px; /* Tamaño del texto */
    font-weight: 500;
    text-align: center; /* Centrar el texto */
    border: none; /* Borde */
    background-color: transparent;
    outline: none; /* Quitar borde azul al enfocar */
   margin-right: 5px;
}

.cart__input-quantity::-webkit-inner-spin-button, 
.cart__input-quantity::-webkit-outer-spin-button {
    appearance: none; /* Eliminar controles de cantidad */
    -webkit-appearance: none; /* Eliminar flechas */
}


.cart__quantity button {
    background: none; /* Sin fondo */
    border: none; /* Sin borde */
    cursor: pointer; /* Cursor interactivo */
    font-size: 20px; /* Tamaño del botón */
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart__quantity .cart__remove {
    display: none; /* Ocultar por defecto */
}

.cart__quantity[data-quantity="1"] .cart__remove {
    display: flex; /* Mostrar el ícono al tener cantidad 1 */
    color: #d9534f; /* Color rojo para destacar */
}

.cart__quantity .cart__decrease,
.cart__quantity .cart__increase {
    color: #000; 
    font-weight: 600;
}

/* Ocultar los botones de incremento/decremento cuando la cantidad es 1 */
.cart__quantity[data-quantity="1"] .cart__decrease {
    display: none;
}

.delete-product-icon {
    width: 20px;
}

.cart__remove {
    background-color: transparent;
    color: #dc3545; /* Color del texto */
    font-weight: 600;
    margin-top: 10px;
    margin-left: 5px;
    border: none; /* Sin borde */
    border-radius: 5px; /* Esquinas redondeadas */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    transition: transform 0.2s;
}

.cart__remove:hover {
    transform: scale(1.05);
}

.cart__subtotal {
    margin-top: 15px; /* Espaciado superior */
}

.cart__subtotal h3{
    font-weight: 500;
}

.cart__checkout {
    background-color: #14A2C9; /* Color de fondo azul */
    color: white; /* Color del texto */
    padding: 10px 20px; /* Espaciado interno */
    border: none; /* Sin borde */
    border-radius: 5px; /* Esquinas redondeadas */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    margin-top: 10px; /* Espaciado superior */
}

.cart__checkout:hover {
    background-color: #1389aa; /* Color al pasar el cursor */
}

.empty-cart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.empty-cart-modal {
    margin-top: 20px;
    margin-bottom: 10px;
}

.add-products-cart-img {
    width: 40px;
    transition: transform 0.3s;
}

.add-products-cart-img:hover {
    transform: scale(1.1);
}