.account-info {
    margin-left: 270px;
}

.account-info__cards-container {
    display: flex;
    flex-direction: column;
    padding: 20px 50px;
    gap: 10px;
}

.account-form-section {
  width: 100%;
}

.account-form-group {
    display: flex;
    flex-direction: column;
    flex: 1 1 200px;
  }
  
.account-form-group input {
  width: 100%;
}

.account-visibility-icon{
  width: 20px;
}

  /* Estilos para los botones */
  .cancel-btn,
  .save-btn {
    padding: 8px 16px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .save-btn {
    background-color: #1A729A;
    color: white;
  }
  
  .save-btn:hover {
    background-color: #1D5772;
  }
  
  /* Botón Cancelar */
  .cancel-btn {
    color: #11809E;
    background-color: transparent;
  }