.verify-password__actions {
    display: flex;
    justify-content: flex-end; /* Alinea los botones a la derecha */
    gap: 10px; /* Espacio entre los botones */
    margin-top: 10px; /* Añade un poco de espacio superior */
  }
  